<div class="top-margin"></div>
<div class="container" style="    margin-bottom: 200px;">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-xs-6">
            <div class="tournament-title">
                <span class="tournament-bracket__round-title">{{partidosList.nombre[0].nombre}}</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-xs-6">
            <div class="p-3 bg-dark" style="
              margin-right: 20px;
              margin-bottom: 40px;
              text-align: center;
              margin-top:40px;
              border-radius: 7px 7px 7px 7px;
              border: 2px solid #171c3e;
              box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
              cursor: pointer;
              color: #fff;
              " (click)="goBack()"><i class="fa fa-chevron-circle-left"></i> <span _ngcontent-snb-c79="" style="
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
">VOLVER ATRAS</span>

            </div>
        </div>
    </div>
    <div class="tournament-bracket tournament-bracket--rounded">

    <div class="tournament-bracket__round tournament-bracket__round--octojorgeRals">
        <div class="tournament-title">
            <span class="tournament-bracket__round-title">Dieciseisavos</span>
        </div>
        <ul *ngIf="partidosList.dieciseisList" class="tournament-bracket__list">
            <li *ngFor="let item of partidosList.dieciseisList" class="tournament-bracket__item">

                <div class="tournament-bracket__match" tabindex="0">
                    <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            <time datetime="{{item.fecha}}">{{item.fecha | date:'longDate'}}</time> &nbsp; <a
                                [routerLink]="['/detalle-partido', item.partido_id]" style="cursor: help;"><i
                                    class="fas fa-info-circle"></i>
                            </a>
                        </caption>
                        <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_first > item.resultado_second}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_first)">
                                    <abbr class="tournament-bracket__code"
                                        title="luisfrpeada">{{item.nombre_first}}</abbr>
                                    <img src="{{item.logo_first}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_second > item.resultado_first}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_second)">
                                    <abbr class="tournament-bracket__code"
                                        title="uriklandaakhstan">{{item.nombre_second}}</abbr>
                                    <img src="{{item.logo_second}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </li>
        </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--octojorgeRals">
        <div class="tournament-title">
            <span class="tournament-bracket__round-title">Octavos</span>
        </div>
        <ul *ngIf="partidosList.octavoList" class="tournament-bracket__list">
            <li *ngFor="let item of partidosList.octavoList" class="tournament-bracket__item">

                <div class="tournament-bracket__match" tabindex="0">
                    <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            <time datetime="{{item.fecha}}">{{item.fecha | date:'longDate'}}</time> &nbsp; <a
                                [routerLink]="['/detalle-partido', item.partido_id]" style="cursor: help;"><i
                                    class="fas fa-info-circle"></i>
                            </a>
                        </caption>
                        <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_first > item.resultado_second}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_first)">
                                    <abbr class="tournament-bracket__code"
                                        title="luisfrpeada">{{item.nombre_first}}</abbr>
                                    <img src="{{item.logo_first}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_second > item.resultado_first}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_second)">
                                    <abbr class="tournament-bracket__code"
                                        title="uriklandaakhstan">{{item.nombre_second}}</abbr>
                                    <img src="{{item.logo_second}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </li>
        </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
        <div class="tournament-title">
            <span class="tournament-bracket__round-title">CUARTOS</span>
        </div>
        <ul *ngIf="partidosList.cuartoList" class="tournament-bracket__list">
            <li *ngFor="let item of partidosList.cuartoList" class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                    <table class="tournament-bracket__table">

                        <caption class="tournament-bracket__caption">
                            <time datetime="{{item.fecha}}">{{item.fecha | date:'longDate'}}</time> &nbsp; <a
                                [routerLink]="['/detalle-partido', item.partido_id]" style="cursor: help;"><i
                                    class="fas fa-info-circle"></i>
                            </a>
                        </caption>
                        <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_first > item.resultado_second}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_first)">
                                    <abbr class="tournament-bracket__code"
                                        title="luisfrpeada">{{item.nombre_first}}</abbr>
                                    <img src="{{item.logo_first}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_second > item.resultado_first}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_second)">
                                    <abbr class="tournament-bracket__code"
                                        title="uriklandaakhstan">{{item.nombre_second}}</abbr>
                                    <img src="{{item.logo_second}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--semifinals">
        <div class="tournament-title">

            <span class="tournament-bracket__round-title">SEMIFINAL</span>
        </div>
        <ul *ngIf="partidosList.semiList" class="tournament-bracket__list">
            <li *ngFor="let item of partidosList.semiList" class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                    <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            <time datetime="{{item.fecha}}">{{item.fecha | date:'longDate'}}</time> &nbsp; <a
                                [routerLink]="['/detalle-partido', item.partido_id]" style="cursor: help;"><i
                                    class="fas fa-info-circle"></i>
                            </a>
                        </caption>
                        <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_first > item.resultado_second}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_first)">
                                    <abbr class="tournament-bracket__code"
                                        title="luisfrpeada">{{item.nombre_first}}</abbr>
                                    <img src="{{item.logo_first}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                </td>
                            </tr>
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_second > item.resultado_first}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_second)">
                                    <abbr class="tournament-bracket__code"
                                        title="uriklandaakhstan">{{item.nombre_second}}</abbr>
                                    <img src="{{item.logo_second}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>


        </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--bronze">
        <div class="tournament-title">

            <span class="tournament-bracket__round-title">final</span>
        </div>
        <ul *ngIf="partidosList.finalList" class="tournament-bracket__list">
            <li *ngFor="let item of partidosList.finalList" class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                    <table class="tournament-bracket__table">
                        <caption class="tournament-bracket__caption">
                            <time datetime="{{item.fecha}}">{{item.fecha | date:'longDate'}}</time> &nbsp; <a
                                [routerLink]="['/detalle-partido', item.partido_id]" style="cursor: help;"><i
                                    class="fas fa-info-circle"></i>
                            </a>
                        </caption>
                        <thead class="sr-only">
                            <tr>
                                <th>Country</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody class="tournament-bracket__content">
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_first > item.resultado_second}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_first)">

                                    <abbr class="tournament-bracket__code"
                                        title="luisfrpeada">{{item.nombre_first}}</abbr>
                                    <img src="{{item.logo_first}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_first}}</span>
                                    <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy"
                                        aria-label="Gold medal"
                                        *ngIf="item.resultado_first > item.resultado_second"></span>
                                    <span
                                        class="tournament-bracket__medal tournament-bracket__medal--silver fa fa-trophy"
                                        aria-label="Silver medal"
                                        *ngIf="item.resultado_second > item.resultado_first"></span>

                                </td>
                            </tr>
                            <tr class="tournament-bracket__team"
                                [ngClass]="{'tournament-bracket__team--winner': item.resultado_second > item.resultado_first}">
                                <td class="tournament-bracket__country" (click)="goPerfil(item.equipo_second)">

                                    <abbr class="tournament-bracket__code"
                                        title="javicch Republic">{{item.nombre_second}}</abbr>
                                    <img src="{{item.logo_second}}" width="30px">
                                </td>
                                <td class="tournament-bracket__score" (click)="goDetalle(item.partido_id)">
                                    <span class="tournament-bracket__number">{{item.resultado_second}}</span>
                                    <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy"
                                        aria-label="Gold medal"
                                        *ngIf="item.resultado_second > item.resultado_first"></span>
                                    <span
                                        class="tournament-bracket__medal tournament-bracket__medal--silver fa fa-trophy"
                                        aria-label="Silver medal"
                                        *ngIf="item.resultado_first > item.resultado_second"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div class="tournament-bracket__round tournament-bracket__round--gold" style="display: none;">
        <!-- <div class="tournament-title">

                <span class="tournament-bracket__round-title">Oro</span>
            </div> -->
        <!-- <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <caption class="tournament-bracket__caption">
                                <time datetime="1998-02-22">22 February 1998</time>
                            </caption>
                            <thead class="sr-only">
                                <tr>
                                    <th>Country</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Finland">FIN</abbr>
                                        <span class="tournament-bracket__flag flag-icon flag-icon-fi"
                                            aria-label="Flag"></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">3</span>
                                        <span
                                            class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy"
                                            aria-label="Bronze medal"></span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Canada">CAN</abbr>
                                        <span class="tournament-bracket__flag flag-icon flag-icon-ca"
                                            aria-label="Flag"></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">2</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul> -->
    </div>

</div>
</div>

<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>
<div class="top-margin"></div>