
<!-- Start Footer Area -->
<footer class="footer-1">
    <!-- <div class="footer-area">
        <div class="container">
            <div class="row">
               <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="footer-content logo-footer">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a class="footer-black-logo" href="#"><img [src]="imageSrc" width="100px" alt=""></a>
                            </div>
                            <p>
                               Going2Play es una aplicacion creada por jugadores para jugadores
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Lista de juegos</h4>
                            <ul class="footer-list">
                                <li><a href="#">League of Legends</a></li>
                                <li><a href="#">FIFA</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-3 col-sm-3 col-xs-12">
                     <div class="footer-content">
                        <div class="footer-head">
                            <h4>INTERÉS</h4>
                            <ul class="footer-list">
                                <li><a href="#">Torneos</a></li>
                                <li><a href="#">Chat</a></li>
                                <li><a href="#">Equipos</a></li>
                                <li><a href="#">Usuarios</a></li>
                                <li><a href="#">Contacto </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Start Footer Bottom Area -->
    <div class="footer-area-bottom">
        <div class="container">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2020
                            <a href="#">Going2Play</a> All Rights Reserved
                        </p>
                    </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
</footer>
<!-- End Footer Area -->

